.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-color: white;
  margin: 0px;
  padding: 0px;
}
li a {
  font-color: white;
  display: block;
  padding: 10px 20px;
}
li a:hover {
  background-color: #585858;
  color: white;
}

h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
}
img {
  text-align: center;
}

#about {
  margin: 70px 100px 0px 100px;
  background-color: rgba(255, 255, 255, 0.8);
}
#des {
  padding: 50px 50px 0px 50px;
}
#profilepic {
  padding: 50px 50px 0px 0px;
}
#education {
  margin: 0px 100px 100px 100px;
  padding: 30px 50px 30px 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

#poster {
  font-size: 10px;
  text-align: center;
}

#research {
  background-color: #FBEFFB;
  margin: 0px 100px 0px 100px;
  padding: 20px 0px 10px 50px;
}
#researchend{
  background-color: #FBEFFB;
  margin: 0px 100px 0px 100px;
  padding: 20px 0px 10px 50px;
  border-bottom: 4px solid white;
}
#researchtitle {
  background-color: #FBEFFB;
  margin: 0px 100px;
  padding: 30px 10px 10px 10px;
  border-bottom: 2px solid white;
}

#webdesign {
  background-color: #380B61;
  margin: 0px 100px;
  padding: 30px 50px;
}
#webtitle {
  color: white;
  background-color: #380B61;
  margin: 0px 100px;
  padding: 30px 10px 10px 10px;
  border-bottom: 2px solid white;
}

.sec1 {
  background-image: url("img/background image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 10px 0px;
}
.sec4 {
  padding: 50px 30px 30px 30px;
  color: white;
  background-color: #585858;
}
.footer{
  padding: 0px 0px 20px 0px;
  color: white;
  background-color: #585858;
}
